<%- include("partials/header.ejs") %>


<body class="deleteBlog">

    
        <form action="/update" method="POST" class="save">
            <input type="hidden"  name="postID" value="<%= index %>">
            <textarea name="text" class="feedback-input" rows="4" cols="50" placeholder="Type/Edit Blog"><%= blogPosts[index]  %></textarea>
            <input type="submit" value="Save">
        </form>
        
        
        <form action="/delete" method="POST">
            <input type="hidden"  name="postID" value="<%= index %>">
            <input type="submit" value="Delete" onclick="confirmDelete()"></button>
        </form>
    
    
</body>


<script> 
 function confirmDelete() { 
    if (confirm("Are you sure you want delete this post?")) { 
        console.log("post deleted!")
    } else{ 
        console.log("post not deleted")
    } 
}
</script>


<%- include("partials/footer.ejs") %>